#contactUs{
    background: linear-gradient(90deg, var(--bg-primary) 0%, var(--bg-primary) 30%,  var(--bg-secondary) 30%, var(--bg-secondary) 100%);
}

.contact{
    padding: 40px 100px;
    box-shadow: 5px 10px rgba(0,0,0, 0.2);
    
}

.contact .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .title h2{
    font-weight: 500;
    text-shadow: 1px 2px #f5f5f5;
}

.formContainer{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    
}

.contact h4{
    color: var(--contact-font);
}

.form{
    grid-area: form;
    background: #f5f5f5;
}

.info{
    grid-area: info;
    background: #f5f5f5;
}

.map{
    grid-area: map;
    background: #f5f5f5;
}

/*form*/
.formBox{
    position: relative;
    width: 100%;
}
.formBox .row50{
    display:flex;
    gap:20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox label{
    color: var(--contact-font);
    margin: 10px 0 5px 0;
    font-weight:500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #303030;
}

.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #303030;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"]{
    background: var(--bg-secondary);
    color: #050505;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 15px;
}

.inputbox ::placeholder{
    color: #909090;
}

/*info*/
.info{
    background-color: var(--bg-primary);
    color:#f5f5f5;
}

.info h4{
    color:#050505;
    margin-bottom: 15px;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color:#f5f5f5;
    background-color:var(--bg-secondary);
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p{
    color: #f5f5f5;
    font-size: 1.1em;
}

.info .infoBox div a{
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.1em;
}

.socialMedia{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.socialMedia li{
    list-style: none;
    margin-right: 15px;
}

.socialMedia li a{
    color:#909090;
    font-size: 2em;
}

.socialMedia li a:hover{
    color: #f5f5f5;
}

/*map*/
.map{
    padding:0;
}
.map iframe{
    width:100%;
    height:100%;
}

/*responsive*/

@media only screen and (max-width: 1024px) {
    #contactUs{
        background:var(--bg-secondary);
    }
    .formContainer{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "info"
        "map"
        "form";
    }
    .map{
        min-height: 300px;
    }
    .formBox .row50{
        display:flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox{
        width: 100%;
    }
    .contact{
        padding: 30px;
    }
}