html {
    scroll-behavior: smooth;
}

:root{
    --font-color: #FFD6A5;
    --bg-color: #FF9B9B;
    --link-color: #CBFFA9;
    --box-color-1: #1F6E8C;
    --box-color-2: #FFFEC4;
}

[data-theme="light"] {
    --font-color: #FFD6A5;
    --bg-color: #FF9B9B;
    --link-color: #CBFFA9;
    --box-color-1: #1F6E8C;
    --box-color-2: #FFFEC4;

}

[data-theme="dark"] {
    --font-color: #84A7A1;
    --bg-color: #0E2954;
    --link-color: #2E8A99;
    --box-color-1: #FFFEC4;
    --box-color-2: #1F6E8C;
}

body{
    background-color: var(--bg-color);
}

.container{
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
h1{font-size: 5em;}
h2{font-size: 4em;}
h3{font-size: 3em;}
h4{font-size: 2em;}