@media only screen and (max-width: 425px) {
    /*header*/
    .container{
        flex-direction: column;
        margin-top:50px;
    }
    .cube{
        margin-top:50px;
        margin-bottom:50px;
    }

}