body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.tempHeight{
  height:100vh;
  scroll-snap-align: start;
}

.navWaveBottom {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.navWaveBottom svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 150px;
}

.navWaveBottom .shape-fill {
  fill: var(--bg-secondary);
}

.navWaveTop {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.navWaveTop svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 150px;
}

.navWaveTop .shape-fill {
  fill: var(--bg-secondary);
}
