nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: var(--link-color);
    font-size:1.25rem;
}

a:hover{
    color:var(--text-color);
}

nav{
    position: relative;
    padding: 0 2rem;
    background-color: var(--bg-secondary);
}

.navbar{
    width:100%;
    height:80px;
    max-width:1200px;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size:3rem;
    font-weight:bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggleBtn{
    color: var(--link-color);
    font-size:1.5rem;
    cursor:pointer;
    display:none;
}

.contactUs{
    background-color: var(--bg-primary);
    color:var(--text-color);
    padding:0.5rem 1rem;
    border: none;
    outline:none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.contactUs:hover{
    scale: 1.05;
}

.contactUs:active{
    scale:0.95;
}

/* responsive */

.dropdownMenu .open{
    height:280px;
}

.dropdownMenu{
    position:absolute;
    right:2rem;
    top:70px;
    height:0px;
    width:300px;
    background:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow:hidden;
    transition: height 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdownMenu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdownMenu .contactUs{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 425px) {
    .navbar .links,
    .navbar .contactUs {
        display:none;
    }

    .navbar .toggleBtn{
        display: block;
    }

    .dropdownMenu{
        display:block;
        left:2rem;
        width: unset;
    }

    .open{
        height:180px;
    }
}