#services{
    width:100%;
    position:relative;
    background-color: var(--bg-secondary);
}

.servicesGridContainer{
    background-color: var(--bg-primary);
    display:grid;
    width:80vw;
    height:40vw;
    margin:1vw 10vw;
    padding:1vw;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "tops cont"
    "mid cont"
    "bot cont";
    grid-gap: 10px;
    box-shadow: 20px 15px rgba(0,0,0, 0.2);
}


#servicesGridTop{
    grid-area: tops;
}

#servicesGridMid{
    grid-area: mid;
}

#servicesGridBottom{
    grid-area: bot;
}

#servicesGridContent{
    grid-area: cont;
    background-color: var(--bg-color);
}

.contentItem{
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.servicesItem{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:2em;
    text-align: center;
    opacity: 0.5;
    transition: opacity 1s;
    box-shadow: 5px 10px rgba(0,0,0, 0.2);
    background-color:#000;
}

.servicesItem:hover{
    background-color:#252525;
}

.servicesItemContent{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contentItem figure{
    width: 100%;
    height: 100%;
}

.contentItem figure img{
    width: auto;
    max-height: 400px;
}

.contentItem figure figcaption p{
    font-size: 2em;
}


@media only screen and (max-width: 1024px) {
    .contentItem figure img{
        width: auto;
        max-height: 300px;
    }
    
    .contentItem figure figcaption p{
        font-size: 1em;
    }
}
@media only screen and (max-width: 768px) {
    .servicesGridContainer{ 
        height:60vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
        "tops mid bot"
        "cont cont cont";
    }
    .contentItem figure img{
        width: auto;
        max-height: 200px;
    }
    .contentItem figure figcaption p{
        font-size: 2em;
    }
}

@media only screen and (max-width: 425px) {
    #services{
        padding-top:10vh;
    }
    .servicesGridContainer{ 
        margin-top:10vh;
        height:80vw;
    }
    .servicesItem{
        font-size:1em;
    }
    .contentItem figure{
        height:auto;
    }
    .contentItem figure img{
        width: auto;
        max-height: 100px;
    }
    .contentItem figure figcaption p{
        font-size: 1.5em;
    }
}